.btn,
.btnDefault {
	display: block;
	padding: 8px 16px;
	margin-bottom: 20px;
	margin-right: 100px;
	cursor: pointer;
	font-size: 14px;
	line-height: 21px;
	text-align: center;
	border: none;
	border-radius: 6px;
	color: #3f3f3f;
	background-color: #e0e0e0;
	box-shadow: 0px 2px 3px rgba(51, 51, 51, 0.2);
}

.btn:hover,
.btn:focus {
	background-color: #aeaeae;
}

.btn:disabled {
	color: #9e9e9e;
	box-shadow: none;
	cursor: not-allowed;
	background-color: #e0e0e0;
}

.btnOutline {
	color: #3d5afe;
	background-color: #ffffff;
	border: 1px solid #3d5afe;
	box-shadow: none;
}

.btnOutline:focus,
.btnOutline:hover {
	background-color: rgba(41, 98, 255, 0.1);
}

.btnText {
	color: #3d5afe;
	background-color: #ffffff;
	box-shadow: none;
}

.btnText:focus,
.btnText:hover {
	background-color: rgba(41, 98, 255, 0.1);
}

.btnText:disabled {
	color: #9e9e9e;
	box-shadow: none;
	cursor: not-allowed;
	background-color: #ffffff;
}

.btnNoShadow {
	box-shadow: none;
	background-color: #3d5afe;
	color: #ffffff;
}

.btnNoShadow:focus,
.btnNoShadow:hover {
	background-color: #0039cb;
}

.btnPrimary {
	background-color: #2962ff;
	color: #ffffff;
}

.btnPrimary:focus,
.btnPrimary:hover {
	background-color: #0039cb;
}

.btnSecondary {
	background-color: #455a64;
	color: #ffffff;
}

.btnSecondary:focus,
.btnSecondary:hover {
	background-color: #1c313a;
}

.btnDanger {
	background-color: #d32f2f;
	color: #ffffff;
}

.btnDanger:focus,
.btnDanger:hover {
	background-color: #9a0007;
}

.btnStartIcon {
	position: relative;
	background-color: #2962ff;
	color: #ffffff;
	padding-left: 40px;
}

.btnStartIcon span::before {
	content: "";
	display: inline-block;
	background-image: url(./../img/add-shopping-cart.svg);
	background-size: contain;
	width: 14px;
	height: 14px;
	position: absolute;
	left: 17px;
	top: 11px;
}

.btnEndIcon {
	position: relative;
	background-color: #2962ff;
	color: #ffffff;
	padding-right: 40px;
}

.btnEndIcon span::after {
	content: "";
	display: inline-block;
	background-image: url(./../img/add-shopping-cart.svg);
	background-size: contain;
	width: 14px;
	height: 14px;
	position: absolute;
	right: 17px;
	top: 11px;
}

.btnSmall,
.btnMedium,
.btnLarge {
	background-color: #2962ff;
	color: #ffffff;
}

.btnSmall:focus,
.btnSmall:hover,
.btnMedium:hover,
.btnMedium:focus,
.btnLarge:hover,
.btnLarge:focus {
	background-color: #0039cb;
}

.btnSmall {
	padding: 6px 12px;
}

.btnMedium {
	padding: 8px 16px;
}

.btnLarge {
	padding: 11px 22px;
}
