.container {
	padding: 50px;
	margin: 0 auto;
}

h1 {
	margin: 0;
	margin-bottom: 15px;
}

.wrapper {
	width: 800px;
	display: flex;
}

.button-icon-wrapper {
	width: 450px;
	display: flex;
	justify-content: space-between;
}

.title {
	font-size: 12px;
	margin-bottom: 10px;
}
